* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #f8f8f8; 
}

.nav-bar {
    padding-block: 1rem;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-image {
    height: 60px;
    width: 60px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.nav-item {
    padding: 0.5rem 1rem;
    color: rgb(42, 147, 165);
    font-size: 1.2rem;
    cursor: pointer; /* Shows a hand icon on hover */
}


.hero {
    width: 90%;
    height: 90vh; 
}

.content {
    display: flex;          
    flex-direction: column;    
    justify-content: center;  
    align-items: flex-start;  
    height: 100vh;            
    gap: 1rem;               
    padding: 2rem;            
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem; 
}
.image-container {
	display: flex;
    justify-content: flex-end; /* Aligns image to the right */
    align-items: center;
    flex: 1;
	max-width: 100%;
    height: auto;
    border-radius: 10px;
}