* {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}
header, border{
    border: 1px dotted lime ;
}
header {
    width: 100%;
    
}

.nav-bar {
    padding-block: 1rem;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-image {
    height: 60px;
    width: 60px;
    
}
.nav-items{
    display: flex;
    flex-direction: row;
}

.nav-item{
    padding-inline: 4rem;
    padding-block: 1rem;
    color: brown;
    font-size: 1.5rem;
}

.hero {
    width: 100vw;
    height: 80dvh;
    padding: 4rem;
    background-color: lightgrey;
    display: block;
    border: 1px dotted lime ;
}
.content h1{
    font-size: 3rem;
}
.content{
    display: inline;
    height: 80vh;
    width: 100%;
    border: 1px dotted lime ;
}
.hero-image {
    display: inline;
    height: 80vh;
    width: 40%;
    border: 1px dotted lime ;
    
}